<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chattym</title>
    <link rel="stylesheet" href="../../public/styles/index.css">
</head>
<body>
    <div class="center">
        <form method="POST" action="http://localhost:3000/get_data">
            <input type="text" name="nickname" required placeholder="Your Nickname">
            <input type="submit" class="submit" value="Submit">
        </form>
    </div>
</body>
</html>